* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hl {
    background-color: rgb(112, 112, 112);
    color: white;
    padding-bottom: 3px;

    .kil {

        text-align: left;
        padding-left: 5px;
        padding-top: 10px;
    }
    .hj {
        padding-left: 5px;
        text-decoration: none;
        color: white;
    }
    
    .hli {
        padding: 5px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}