* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hl {
    background-color: rgb(112, 112, 112);
    color: white;
    padding-bottom: 3px;

    .kil {

        text-align: left;
        padding-left: 5px;
        padding-top: 10px;
    }
    .hj {
        padding-left: 5px;
        text-decoration: none;
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
    }
    
    .hli {
        padding: 5px;
    }
}
.lk{
    max-width: 1900px;
    padding: 20px;
    .lp{
        padding: 10px;
        background-color: rgb(181, 181, 181);
        .lo{
            text-align: center;
            .imgd{

                width: 70%;
            }
            .gb{
                text-align: right;
            }

        }
    }
}