* {
    box-sizing: border-box;
    max-width: 1900px;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    padding: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.ff{
    padding: 10px;
    text-align: center;
    background-color: rgb(95, 95, 95);
    color:white;
}
.hh{
    background-color: rgb(23, 23, 23);
    padding: 10px;
    text-align: center;
    a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        
    }

}
.ghj{
    text-align: center;
    padding: 10px;
    
    .gl{
        padding: 10px;
        background-color: #7e7e7e;
    }
    .gh{
        width: 100%;
        height: 80px;
        overflow: auto;
    }
}
.bb{
    padding: 15px;
    .bk {
        padding: 5;
        text-align: center;
        a {
            color: #000;
            text-decoration: none
        }
        .de {
            padding: 5%;
        }
        .df {
            padding: 5%;
        }
    }
    
}
